<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml"
>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title></title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito"
      rel="stylesheet"
    />
    <link
      href="https://ek-reps.com/mobileware/font/Helvetica.ttf"
      rel="stylesheet"
    />
    <link
      href="https://ek-reps.com/mobileware/font/Helvetica-Bold.ttf"
      rel="stylesheet"
    />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }
      table,
      td,
      tr {
        vertical-align: top;
        /*border-collapse: collapse;*/
      }
      * {
        line-height: inherit;
      }
      a[x-apple-data-detectors="true"] {
        color: inherit !important;
        text-decoration: none !important;
      }
      .list_marker::marker {
        color: #fff;
      }

      /* Hide radio inputs */
      input[type="radio"] {
        display: none;
      }

      /* Style the labels (stars) */
      label {
        font-size: 30px;
        color: gray;
        cursor: pointer;
        display: inline-block;
      }

      #rating {
        direction: rtl;
        display: inline-flex;
        font-size: 2rem;
        unicode-bidi: bidi-override;
      }
      #rating input {
        display: none;
      }
      #rating label {
        color: #ccc;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: relative;
        margin-right: 10px;
      }
      #rating input:checked ~ label {
        color: #fc6b00;
        margin-right: 10px;
      }
      #rating input:checked input label {
        color: #fc6b00;
      }
      #rating input:checked input input ~ label {
        color: #fc6b00;
      }
      #rating input:checked input input input label {
        color: #fc6b00;
      }
      #rating label:hover,
      #rating label:hover ~ label {
        color: #fc6b00;
      }
    </style>
    <style id="media-query" type="text/css">
      @media (max-width: 740px) {
        .block-grid,
        .col {
          min-width: 320px !important;
          max-width: 100% !important;
          display: block !important;
        }
        .block-grid {
          width: 100% !important;
        }
        .col {
          width: 100% !important;
        }
        .col_cont {
          margin: 0 auto;
        }
        img.fullwidth,
        img.fullwidthOnMobile {
          max-width: 100% !important;
        }
        .no-stack .col {
          min-width: 0 !important;
          display: table-cell !important;
        }
        .no-stack.two-up .col {
          width: 50% !important;
        }
        .no-stack .col.num2 {
          width: 16.6% !important;
        }
        .no-stack .col.num3 {
          width: 25% !important;
        }
        .no-stack .col.num4 {
          width: 33% !important;
        }
        .no-stack .col.num5 {
          width: 41.6% !important;
        }
        .no-stack .col.num6 {
          width: 50% !important;
        }
        .no-stack .col.num7 {
          width: 58.3% !important;
        }
        .no-stack .col.num8 {
          width: 66.6% !important;
        }
        .no-stack .col.num9 {
          width: 75% !important;
        }
        .no-stack .col.num10 {
          width: 83.3% !important;
        }
      }
    </style>
  </head>
  <body
    class="clean-body"
    style="
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      font-family: sans-serif;
      background: #f3f3f3;
    "
  >
    <form action="http://localhost:8000/feedback" method="post" target="hidden_iframe">  
      <table style="max-width: 720px; margin: auto; width: 100%">
        <tbody>
          <tr>
            <td>
              <table
                style="padding: 27px 35px; width: 100%; background-color: #fff"
              >
                <tbody>
                  <tr>
                    <td>
                      <tr style="vertical-align: top" valign="top">
                        <td style="text-align: center">
                          <img
                            src="https://owlqr.com/custom_mailing/assets/named.jpg"
                            alt=""
                            style="width: 100%; margin: 0px auto"
                          />
                        </td>
                      </tr>
                      <tr style="vertical-align: top" valign="top">
                        <td>
                          <h1 style="margin-top: 14px">
                            <b
                              style="
                                color: #2f2f2f;
                                font-size: 23px;
                                font-weight: 600;
                              "
                              ><span
                                style="
                                  font-weight: 300;
                                  font-size: 25px;
                                  color: #2f2f2f;
                                "
                                >Sony ULT TOWER 10 Wireless Party Speaker</span
                              ><br />
                              How did you come to know about Sony's ULT TOWER 10
                              Wireless Party Speaker?</b
                            >
                          </h1>
                        </td>
                      </tr>
                      <tr style="margin-top: 30px">
                        <td>
                          <label
                            style="
                              font-size: 18px;
                              vertical-align: middle;
                              display: flex;
                              align-items: center;
                            "
                          >
                            <input
                              type="checkbox"
                              name="workingOut"
                              style="
                                margin-right: 17px;
                                width: 15px;
                                height: 15px;
                                transform: scale(1.5);
                                -webkit-appearance: checkbox;
                                appearance: checkbox;
                                border: 1px solid #707070;
                                border-radius: 1px;
                                position: relative;
                              "
                            />
                            While working out </label
                          ><br />

                          <label
                            style="
                              font-size: 18px;
                              vertical-align: middle;
                              display: flex;
                              align-items: center;
                            "
                          >
                            <input
                              type="checkbox"
                              name="onlineMeetings"
                              style="
                                margin-right: 17px;
                                width: 15px;
                                height: 15px;
                                transform: scale(1.5);
                                -webkit-appearance: checkbox;
                                appearance: checkbox;
                                border: 1px solid #707070;
                                border-radius: 1px;
                                position: relative;
                              "
                            />
                            For online meetings </label
                          ><br />

                          <label
                            style="
                              font-size: 18px;
                              vertical-align: middle;
                              display: flex;
                              align-items: center;
                            "
                          >
                            <input
                              type="checkbox"
                              name="listeningToMusic"
                              style="
                                margin-right: 17px;
                                width: 15px;
                                height: 15px;
                                transform: scale(1.5);
                                -webkit-appearance: checkbox;
                                appearance: checkbox;
                                border: 1px solid #707070;
                                border-radius: 1px;
                                position: relative;
                              "
                            />
                            Listening to music </label
                          ><br />

                          <label
                            style="
                              font-size: 18px;
                              vertical-align: middle;
                              display: flex;
                              align-items: center;
                            "
                          >
                            <input
                              type="checkbox"
                              name="watchingVideos"
                              style="
                                margin-right: 17px;
                                width: 15px;
                                height: 15px;
                                transform: scale(1.5);
                                -webkit-appearance: checkbox;
                                appearance: checkbox;
                                border: 1px solid #707070;
                                border-radius: 1px;
                                position: relative;
                              "
                            />
                            Watching videos </label
                          ><br />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label
                            for="your_name"
                            style="
                              font-size: 18px;
                              vertical-align: middle;
                              display: flex;
                              align-items: center;
                            "
                            >Your Name</label
                          >
                          <input
                            type="text"
                            name="your_name"
                            placeholder="Your Name"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label
                            for="your_number"
                            style="
                              font-size: 18px;
                              vertical-align: middle;
                              display: flex;
                              align-items: center;
                            "
                            >Your Number</label
                          >
                          <input
                            type="number"
                            name="your_number"
                            placeholder="Your Number"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input
                            type="submit"
                            value="SUBMIT"
                            style="
                              width: 80%;
                              background-color: #000;
                              color: #fff;
                            "
                          />
                        </td>
                      </tr>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table
                style="
                  padding: 5px 35px;
                  background: #606060;
                  color: white;
                  width: 100%;
                  margin-top: -5px;
                  margin-bottom: -5px;
                "
              >
                <tr style="color: #d3d3d3; font-size: 14px">
                  <td>
                    Click
                    <a
                      href="#"
                      style="color: #fb6b00; text-decoration: none !important"
                      ><b>here</b></a
                    >
                    to view this form in your web brower.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
	<iframe name="hidden_iframe" style="display:none;"></iframe>
  </body> 
</html>
